
<body>
    <div id="container">
    <nav>
        <div id="login">  
            <h1>Login</h1>
           <div id="inputs">
            <input type="text" placeholder="Usuario">
            <input type="password" placeholder="Senha">
           <div style="display: flex; position: relative;"> 
            <p style="text-align: start; margin-right: 50px; margin-top: 50px; color: white; ">Esqueceu sua senha?</p>
            <button>Entrar</button>
            
           </div> 
        </div> 
          <hr>
          <p style="text-align: start; margin-left: 45px; margin-top: 50px; color: white;"><a routerLink="/cadastro" (click)="cadastro()">Cadastre-se</a></p>
        </div>
    </nav>
</div>  
</body>

